<div class="contenedor">
<div class="row">
    <h1>Formación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul>
        <li>
            <h1>Formación 1</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur nihil qui dicta dolor nobis aperiam id temporibus reiciendis fuga illo, repellat corrupti libero. Voluptatem vitae eum quasi sint neque.</p>
    </ul>
    <ul>
        <li>
            <h1>Formación 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur nihil qui dicta dolor nobis aperiam id temporibus reiciendis fuga illo, repellat corrupti libero. Voluptatem vitae eum quasi sint neque.</p>
    </ul>
    <ul>
        <li>
            <h1>Formación 3</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consequuntur nihil qui dicta dolor nobis aperiam id temporibus reiciendis fuga illo, repellat corrupti libero. Voluptatem vitae eum quasi sint neque.</p>
    </ul>
</div>
</div>
</div>