<div class="row">
    <div class="titulosSecciones">
        <h2>Formación</h2>
        <div>
            <button class="btn btn-success btn-Edit" type="button" routerLink="/nuevaedu" *ngIf="isLogged"><i
                    class="bi bi-plus-lg"></i></button>
        </div>
    </div>
    <div>
        <div class="cont">

            <div class="listaEdu">
                <div class="lineaLista"></div>
                <ol reversed>
                    <li *ngFor="let Educacion of educacion.slice().reverse()">
                        <dl>
                            <dt>{{Educacion.nombreE}}</dt>
                            <dd>{{Educacion.descripcionE}}</dd>
                        </dl>
                        <div class="btns">
                            <button class="btn btn-warning btn-Edit" *ngIf="isLogged"
                                routerLink="/editedu/{{Educacion.id}}">
                                <i class="bi bi-pencil-square " alt="editar educación"></i>
                            </button>
                            <button class="btn btn-danger btn-Edit" *ngIf="isLogged" (click)="delete(Educacion.id)">
                                <i class="bi bi-trash-fill" alt="borrar educacion"></i>
                            </button>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="tapaLista"></div>
        </div>
    </div>
</div>