h1 {
    color: #24e0b8;
    font-size: 1.5em;

}
h2 {
    color: #ffcc51;
    font-size: 1.2em;
}
h3 {
    color:#fff;
    font-size: 1em;
}
.contenedor {
    background-color:#007b00;
    display: flex;
    justify-content:space-between;
    align-content: center;
    flex-flow: row wrap;
    padding: 20px;
}

@media (max-width:425px) {
    .contenedor {
        justify-content:space-around;
    }

}
.caja1 {
    color: #fff;
    font-size: 1.1em;
}

@media (max-width:425px) {
    .caja1 {
        text-align: center;
    }
}
    
    
.caja2 {
    width: 200px;
    color: #fff;
    text-align: right
}
@media (max-width:425px) {
    .caja2 {
        text-align: center;
        margin-top: 10px;
    }
    
}


a {
    color:#24e0b8

}