<div class="row">
    <div class="titulosSecciones">
        <h2>Experiencia laboral</h2>
        <div>
            <button class="btn btn-success btn-Edit" type="button" routerLink="/nuevaexp" *ngIf="isLogged"><i
                    class="bi bi-plus-lg"></i></button>
        </div>
    </div>
    <!-- <div>
        <dl *ngFor="let Experiencia of expe">
            <dt><i class="bi bi-briefcase-fill biList"></i>{{Experiencia.nombreE}}
                <button class="btn btn-light btn-Edit" *ngIf="isLogged" routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil-square " alt="editar experiencia"></i>
                </button>
                <button class="btn btn-danger btn-Edit" *ngIf="isLogged" (click)="delete(Experiencia.id)">
                    <i class="bi bi-trash-fill" alt="borrar experiencia"></i>
                </button>
            </dt>
            <dd>{{Experiencia.descripcionE}}</dd>
        </dl>
    </div> -->
    <div class="card" style="width: 18rem;" *ngFor="let Experiencia of expe">
        <img src="../../../assets/briefcase.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{Experiencia.nombreE}}</h5>
            <p class="card-text">{{Experiencia.descripcionE}}</p>
            <div class="btns">
                <button class="btn btn-warning btn-Edit" *ngIf="isLogged" routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil-square " alt="editar experiencia"></i>
                </button>
                <button class="btn btn-danger btn-Edit" *ngIf="isLogged" (click)="delete(Experiencia.id)">
                    <i class="bi bi-trash-fill" alt="borrar experiencia"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>