<!-- Cargando componente -->
<div class="row" *ngIf="loading">
  <div class="titulosSecciones">
    <h2 class="titulo">Proyectos</h2>
  </div>
  <!-- Modal -->

  <div class="contenedor">
    <div class="cardProyecto">
      <p class="placeholder-wave todoElAncho">
        <span class="placeholder circulo"></span>
      </p>
      <p class="placeholder-glow todoElAncho">
        <span class="placeholder rectangulo"></span>
      </p>
    </div>
    <div class="cardProyecto">
      <p class="placeholder-wave todoElAncho">
        <span class="placeholder circulo"></span>
      </p>
      <p class="placeholder-glow todoElAncho">
        <span class="placeholder rectangulo"></span>
      </p>
    </div>
    <div class="cardProyecto">
      <p class="placeholder-wave todoElAncho">
        <span class="placeholder circulo"></span>
      </p>
      <p class="placeholder-glow todoElAncho">
        <span class="placeholder rectangulo"></span>
      </p>
    </div>
  </div>
  


</div>



<!-- Componente cargado -->
<div class="row" *ngIf="!loading">
  <div class="titulosSecciones">
    <h2 class="titulo">Proyectos</h2>
    <div>
        <button class="btn btn-success btn-Edit" type="button" routerLink="/newproyecto" *ngIf="isLogged"><i
                class="bi bi-plus-lg"></i></button>
    </div>
</div>
    

  <div class="contenedor" *ngFor="let Proyecto of proyecto" >
    <div class="cardProyecto" data-bs-toggle="modal" [attr.data-bs-target]="'#proyecto' + Proyecto.id">
      <img class="logoCard" [src]="Proyecto.logo">
    </div>
    <div *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}"><i class="bi bi-pencil-square " alt="editar proyecto"></i></button>
      <button class="btn btn-danger" (click)="delete(Proyecto.id)"><i class="bi bi-trash-fill" alt="borrar proyecto"></i></button>
  </div>
    <div class="modal fade" [id]="'proyecto' + Proyecto.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="exampleModalLabel">Proyecto:</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h3>{{Proyecto.nombre}}</h3>
            <p>{{Proyecto.descripcion}}</p>
          </div>
          <div class="modal-footer">
            <a role="button" class="btn git" [href]="Proyecto.enlaceGit" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github"></i>
            </a>
            <a role="button" class="btn web" [href]="Proyecto.enlaceWeb" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>