.row {
    background-color: #fff;
    padding: 20px;
    margin-right: 0;
    margin-left: 0;
}
.contenedor {
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:25px;
    flex-wrap: wrap;
}
.cardProyecto{
    width: 300px;
    height: 200px;
    border-radius:10px;
    background-color: rgb(230, 230, 230);
    box-shadow: 1px 1px 5px #0000007a;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cardProyecto:hover{
transform: scale(1.03);
transition: linear 0.5s;
}
.logoCard{
    width: 100%;
    z-index: 1;
}
.git{
    background-color: #ff8b76;
}
.web{
    background-color: #ffcc51;
}