<div class="contenedor">
<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="clo-sm-4 col-md-4 col-lg-4 text-center">
        <circle-progress
        [percent]="80"
        [radius]="90"
        [showUnits]="false"
        [imageSrc]="'../assets/hys/html.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#008f95'"
        [innerStrokeColor]="'#008f95'"
        [animation]="true"
        [animationDuration]="600"
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundPadding]="10"
        
    ></circle-progress>
</div>
<div class="clo-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="75"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../assets/hys/html.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [outerStrokeColor]="'#008f95'"
    [innerStrokeColor]="'#008f95'"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="true"
    [backgroundColor]="'#ffffff'"
    [backgroundPadding]="10"
    
></circle-progress>
</div>
<div class="clo-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="40"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../assets/hys/html.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [outerStrokeColor]="'#008f95'"
    [innerStrokeColor]="'#008f95'"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="true"
    [backgroundColor]="'#ffffff'"
    [backgroundPadding]="10"
    
></circle-progress>
</div>
<div class="clo-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="60"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../assets/hys/html.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [outerStrokeColor]="'#008f95'"
    [innerStrokeColor]="'#008f95'"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="true"
    [backgroundColor]="'#ffffff'"
    [backgroundPadding]="10"
    
></circle-progress>
</div>
<div class="clo-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="95"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../assets/hys/html.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [outerStrokeColor]="'#008f95'"
    [innerStrokeColor]="'#008f95'"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="true"
    [backgroundColor]="'#ffffff'"
    [backgroundPadding]="10"
    
></circle-progress>
</div>
<div class="clo-sm-4 col-md-4 col-lg-4 text-center">
    <circle-progress
    [percent]="90"
    [radius]="90"
    [showUnits]="false"
    [imageSrc]="'../assets/hys/html.png'"
    [showImage]="true"
    [imageHeight]="60"
    [imageWidth]="60"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [outerStrokeColor]="'#008f95'"
    [innerStrokeColor]="'#008f95'"
    [animation]="true"
    [animationDuration]="600"
    [showBackground]="true"
    [backgroundColor]="'#ffffff'"
    [backgroundPadding]="10"
    
></circle-progress>
</div>
</div>
</div>