<!-- Cargando skills -->
<div class="contenedor">
<div class="row" *ngIf="loading">
    <div class="titulosSecciones">
        <h2>Hard & Soft Skills</h2>
    </div>
    <p class="placeholder-wave">
        <span class="placeholder circulo"></span>
    </p>
    <p class="placeholder-wave">
        <span class="placeholder circulo"></span>
    </p>
    <p class="placeholder-wave">
        <span class="placeholder circulo"></span>
    </p>
    <p class="placeholder-wave">
        <span class="placeholder circulo"></span>
    </p>
    <p class="placeholder-wave">
        <span class="placeholder circulo"></span>
    </p>
    <p class="placeholder-wave">
        <span class="placeholder circulo"></span>
    </p>

   
</div>

<!-- skills cargadas -->
<div class="row" *ngIf="!loading">
    <div class="titulosSecciones">
        <h2>Hard & Soft Skills</h2>
        <div>
            <button class="btn btn-success btn-Edit" type="button" routerLink="/newskill" *ngIf="isLogged"><i
                    class="bi bi-plus-lg"></i></button>
        </div>
    </div>
    <div class="clo-sm-4 col-md-4 col-lg-4 text-center" *ngFor="let skill of skill">
        <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="90"
        [showUnits]="false"
        [imageSrc]="(skill.img)"
        [title]="(skill.nombre)"
        [showImage]="true"
        [showTitle]="true"
        [showSubtitle]="false"
        [imageHeight]="60"
        [imageWidth]="60"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'#008f95'"
        [innerStrokeColor]="'#008f95'"
        [animation]="true"
        [animationDuration]="600"
        [showBackground]="true"
        [backgroundColor]="'#ffffff'"
        [backgroundPadding]="10"
        
    ></circle-progress>
    <div *ngIf="isLogged">
        <button class="btn btn-light" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-square " alt="editar skill"></i></button>
        <button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-trash-fill" alt="borrar skill"></i></button>
    </div>
</div>
</div>
</div>