.row {
    padding: 20px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
}
h2 {
    font-size: 3em;
    color: #007b00;
    font-family: "Poiret One";
    font-weight: bold;
    text-align: left;
}
h3 {
    color:#ff3031;
    margin-top:15px;
    /* text-shadow: 1px 1px 1px #212529 */
}
p {
    font-size: 1.4rem;
}
.centrado {
    text-align: center;
}
.justificado {
    text-align: justify;
}

.fotoDePerfil{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    left: 2%;
    margin:5px
}
.fotoDePerfil2{
    width: 80%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 2%;
    margin:5px
}
.acercaDe{
    display:flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: nowrap;
    align-items: center;
  }
.loading{
    padding: 20px;
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.acercaDe{
    flex-grow: 1;
}
.tituloYDescripcion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    gap:10px;
    flex-wrap: wrap;
}
.colIzq{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.todoElAncho{
    width: 100%;
}
.descripcion{
    width: 850px;
    flex-grow: 1;

}