<div class="contenedor">
  <div class="logoYTitulo">
    <img src="../../../assets/logo.png" class="logoAP">
    <h1>Julián Franco</h1>

  </div>
  
  <picture>
    <!-- <source media="(max-width: 500px)" srcset="../../../assets/APLogoSmall.png"> -->
    
  </picture>
  <div class="redes">
    <a href="https://www.linkedin.com/in/cjulianfranco/" target="_blank">
      <div class="boton linkedin">
      </div>
    </a>
    <a href="https://github.com/julianfran" target="_blank">
      <div class="boton github">
      </div>
    </a>
  </div>
</div>