<div class="contenedor">
      <picture>
        <source media="(max-width: 500px)" srcset="../../../assets/APLogoSmall.png">
        <img src="../../../assets/APLogo.png" id="logoAP"> 
      </picture>
    <div class="redes">
        <a href="https://www.facebook.com/julianfran" target="_blank">
          <div class="boton facebook">
            </div>
        </a>
        <a href="https://twitter.com/julian_fran" target="_blank">
          <div class="boton twitter">
          </div>
        </a>
        <a href="https://www.linkedin.com/in/cjulianfranco/" target="_blank">
          <div class="boton linkedin">
          </div>
        </a>
        <a href="https://www.instagram.com/julian.fran/" target="_blank">
          <div class="boton instagram">
          </div>
        </a>
        <a href="https://github.com/julianfran" target="_blank">
          <div class="boton github">
          </div>
      </a>   
    </div>

